// Imports
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

// Typography
$body-font-family: 'Raleway', sans-serif;

// color pallete
$header-color: #364742ff;
$white: white;
$price-tag-color: #4A148C;
$header-1: #81559bff;
$gradient: linear-gradient(to top right, #bdbdc1 0%, #ffffff 80%);
$header-text-color: #BDBDBD;
$plan-background-color: #c9cad3;
$stripeBtn: #5469d4;

// media queries
$xs: 426px;
$sm: 427px;
